body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
header,
main,
footer {
  padding: 1rem;
}
header,
footer {
  background-color: #000;
}
h1,
nav a,
footer p {
  color: aliceblue;
}

form {
  max-width: 300px;
}
.form-group {
  display: grid;
  gap: 0.3rem;
  margin-bottom: 1.2rem;
}

label {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  display: grid;
}
input {
  border: 1px solid #21212133;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
}

.instruktion {
  font-size: 0.7rem;
  color: #000000;
  line-height: 1.4;
}

.form-group:focus-within span {
  color: rgb(0, 144, 130);
}

button {
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(255, 169, 245);
  color: #000;
  width: 100px;
}
button#reset {
  background-color: aqua;
}

/* ************************************************************** */
/* ******************* SKRIV DIN CSS HERUNDER ******************* */
/* ************************************************************** */

/* ************************** Opgave 9 **************************  */
/* Lav en input:hover som ændrer inputfelternes baggrundsfarve */
/* til gul når man hover over dem med musen */

/* ************************** Opgave 10 **************************  */
/* udkommenter koden fra opgave 9 */
/* Lav en input:focus som ændrer inputfelternes baggrundsfarve til  */
/* hvid og border-color til sort når man sætter focus på */

/* ************************** Opgave 11 **************************  */
/* behold koden fra opgave 10 */
/* Tilføj en input:invalid og en input:valid. */
/* Valid tilstanden skal ændre baggrundsfarven til grøn og invalid */
/* tilstanden skal ændre den til grøn */
/* Observer hvordan formen virker */

/* ************************** Opgave 12 ************************* */
/* behold koden fra opgave 10 men udkommenter den fra opgave 11 */
/* Tilføj en input:user-invalid input:user-valid */
/* Tilføj farver og/eller anden styling */
/* Observer vordan formen virker */

/* ************************** Opgave 13 *************************  */
/* behold koden fra opgave 10 og 12 */
/* Skriv en kode som aktiverer fejlbeskeden på email-feltet */
/* Se evt. løsningsforslaget til opgave 13... */

/* ************************************************************** */
/* ********************** LØSNINGSFORSLAG *********************** */
/* ************************************************************** */

/* *************************** Opgave 9 ************************* */
/* input:hover {
  background-color: yellow;
} */

/* *************************** Opgave 10 ************************* */
/* input:focus {
  background-color: white;
  border-color: black;
} */

/* *************************** Opgave 11 ************************* */
/* input:invalid {
  border-color: red;
  background-color: rgb(255, 224, 224);
}
input:valid {
  border-color: green;
  background-color: rgb(201, 255, 201);
} */

/* *************************** Opgave 12 ************************* */
/* input:user-invalid {
  border-color: red;
  background-color: rgb(255, 224, 224);
}
input:user-valid {
  border-color: green;
  background-color: rgb(201, 255, 201);
} */

/* *************************** Opgave 13 ************************* */
/* input:user-invalid + span::before {
  content: "indtast en gyldig emailadresse";
  color: red;
  font-weight: 900;
  font-size: 0.7rem;
} */
